@import 'tailwindcss';

@theme {
  --color-primary: #2d5a27;
  --color-primary-hover: #1e3d1a;
  --color-primary-dark: #1a3d15;
  --color-primary-light: #e8f1e5;
  --font-sans: 'Inter', sans-serif;
}

:root {
  font-family: var(--font-sans);
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

@keyframes slow-fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

.animate-slow-fade {
  animation: slow-fade 3s infinite ease-in-out;
}
